<app-navbar></app-navbar>
<div class="flex justify-center gap-8 mt-8">
  <div style="margin-top: 1%; width: 20%;">
    <calendar-date class="cally  border shadow-md rounded-box" style="background-color: #FFDDAE; color: black;">
      <svg aria-label="Previous" class="fill-current size-4" slot="previous" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
      </svg>
      <svg aria-label="Next" class="fill-current size-4" slot="next" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
      </svg>
      <calendar-month></calendar-month>
    </calendar-date>
    <label for="my_modal_6" class="btn  btn-warning btn-wide mt-6 mx-3 " style="color: white;" >Add Activity</label>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my_modal_6" class="modal-toggle" />
    <div class="modal" role="dialog">
      <div class="modal-box" style="background-color: white; color: black;">
        <h3 class="text-lg font-bold">Activity Name</h3>
        <fieldset class="fieldset"  >
          <input type="text"  class="input" placeholder="My awesome page" style="background-color: rgb(206, 224, 236); color: black;" />
        </fieldset>
        <p class="py-4">This modal works with a hidden checkbox!</p>
        <div class="modal-action">
          <label for="my_modal_6" class="btn" >Add</label>
      </div>
      </div>
    </div>
  </div>
  

    <!-- First Div (Scheduler Component) -->
    <div class=" p-2 rounded-xl shadow-lg bg-white border border-gray-200 overflow-hidden" style="width: 70%; margin-top: 1%">
      <scheduler-component
      
      ></scheduler-component>
    </div>
  
    <!-- Second Div (Card Component) -->
    
  </div>
  
  