
<div class="card card-side bg-base-100 mt-2 flex items-center">
    <!-- Left Section (Image) -->
    <figure class="px-10 pt-10 pb-10 w-1/2">
        <img src="lesactivités_update1.png" alt="Movie Poster" class="rounded-xl w-full" />
    </figure>
  
    <!-- Right Section (Text & Buttons) -->
    <div class="card-body w-1/2 flex flex-col items-center text-center mt-8">
        <h1 class="text-6xl md:text-8xl font-bold">Welcome to</h1>
        <h2 class="text-4xl md:text-6xl font-extrabold text-cyan-500">CAS_INPT</h2>
        <p class="mt-4 text-gray-600 px-4 ">
            Our mission is to make a <span class="text-cyan-500 font-semibold">meaningful impact</span> through collaborative efforts. 
            Join us in achieving <span class="text-cyan-500 font-semibold">our goals</span> and supporting our community 
            <span class="text-cyan-500 font-semibold">projects</span>.
        </p>
  
        <!-- Donate Button -->
        <div class="mt-6">
            <button class="btn btn-info btn-wide text-white bg-cyan-500 text-lg px-6 py-3 shadow-lg hover:bg-cyan-600 transition mt-7">
                Donate Now 💸
            </button>
        </div>
  
        <!-- Social Media Icons -->
        <div class="flex justify-center flex-wrap gap-4 mt-20">
            <!-- Facebook -->
            <div class="w-16 h-16 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center">
                <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-105 transition-transform">
                    <img src="facebook.png" class="w-full h-full object-cover rounded-full" />
                </button>
            </div>
  
            <!-- WhatsApp -->
            <div class="w-16 h-16 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center">
                <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-105 transition-transform">
                    <img src="watssap.png" class="w-full h-full object-cover rounded-full" />
                </button>
            </div>
  
            <!-- LinkedIn -->
            <div class="w-16 h-16 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center">
                <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-105 transition-transform">
                    <img src="linkedin.png" class="w-full h-full object-cover rounded-full" />
                </button>
            </div>
  
            <!-- Instagram -->
            <div class="w-16 h-16 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center">
                <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-105 transition-transform">
                    <img src="instagram.png" class="w-full h-full object-cover rounded-full" />
                </button>
            </div>
        </div>
  
        
    </div>
  </div>
  
  
  <div class="bg-white py-10 px-4 sm:px-10 lg:px-20">
    <div class="max-w-7xl mx-auto">
      <!-- Section Header -->
      <h2 class="text-3xl md:text-6xl font-bold text-center mb-3">Current Project</h2>
      <h2 class="text-3xl md:text-2xl font-extrabold text-center text-cyan-500">CARAVANE AL IHSSANE</h2>
  
      <!-- Project Description -->
      <div class="bg-white py-10 px-4 sm:px-10 lg:px-20 text-center">
        <ul class="flex flex-row justify-center space-x-12 text-gray-700">
          <li class="flex items-center">
            <fa-icon [icon]="faCalendarAlt" class="text-[#0dcaf0] text-3xl mr-2"></fa-icon>
            <p class="text-lg font-normal italic">14–16 February</p>
          </li>
          <li class="flex items-center">
            <fa-icon [icon]="faMapMarkerAlt" class="text-[#0dcaf0] text-3xl mr-2"></fa-icon>
            <p class="text-lg font-normal italic">Tisoutin, Imchkioun & Tibourodin</p>
          </li>
          <li class="flex items-center">
            <fa-icon [icon]="faBullseye" class="text-[#0dcaf0] text-3xl mr-2"></fa-icon>
            <p class="text-lg font-normal italic">Help 250 families this winter</p>
          </li>
        </ul>
      </div>
      
      
      
      <div class="card card-side bg-base-100 mt-2 flex items-center">
        <!-- Left Section (Image) -->
        
        <!-- Right Section (Text & Buttons) -->
        
      </div>
  
      <!-- Project Cards -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <!-- Card 1 -->
        <div class="rounded-lg shadow-lg bg-blue-50 p-4">
          <img
            src="projet1.png"
            alt="Project 1"
            class="rounded-lg w-full h-auto mb-4"
          />
          <h3 class="text-lg font-semibold text-center">Project 1</h3>
          <p class="text-center">Budget: 113600 DH</p>
        </div>
  
        <!-- Card 2 -->
        <div class="rounded-lg shadow-lg bg-blue-50 p-4">
          <img
            src="projet2.png"
            alt="Project 2"
            class="rounded-lg w-full h-auto mb-4"
          />
          <h3 class="text-lg font-semibold text-center">Project 2</h3>
          <p class="text-center">Budget: 65500 DH</p>
        </div>
  
        <!-- Card 3 -->
        <div class="rounded-lg shadow-lg bg-blue-50 p-4">
          <img
            src="projet3.png"
            alt="Project 3"
            class="rounded-lg w-full h-auto mb-4"
          />
          <h3 class="text-lg font-semibold text-center">Project 3</h3>
          <p class="text-center">Budget: 55500 DH</p>
        </div>
      </div>
  
      <!-- Contribution Options -->
      <div class="text-center mb-12 mt-12">
        <h3 class="text-3xl sm:text-4xl font-semibold text-[#171b1b] italic mb-8 underline underline-offset-4 decoration-2">
            You Can Contribute With:
          </h3>
          
        <div class="flex flex-wrap justify-center gap-12">
          <!-- Contribution Item -->
          <div
            class="flex flex-col items-center bg-white shadow-lg p-6 rounded-xl hover:scale-105 transition-transform duration-300"
          >
            <!-- Icon -->
            <div
              class="bg-gradient-to-r from-[#0dcaf0] to-[#0cb5e5] p-4 rounded-2xl mb-4 shadow-md"
            >
              <fa-icon
                [icon]="faTshirt"
                class="text-[#f2f6f7] text-5xl"
              ></fa-icon>
            </div>
            <p class="font-bold text-lg mb-2">Clothes</p>
            <p class="text-sm text-gray-500 mb-4">Help warm those in need!</p>
  
            <!-- Progress Bar -->
            <div
              class="relative w-full bg-gray-300 rounded-full h-4 overflow-hidden mb-4 shadow-inner"
            >
              <div
                class="absolute top-0 left-0 h-4 rounded-full bg-[#0dcaf0]"
                style="
                  width: 60%;
                  box-shadow: 0 0 10px rgba(13, 202, 240, 0.6),
                    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
                "
              ></div>
            </div>
  
            <!-- Donate Button -->
            <button
              (click)="openDonateDialog()"
              class="px-6 py-2 bg-[#0dcaf0] text-white font-medium rounded-2xl hover:bg-[#f9fafa] transition-colors duration-200"
            >
              Donate Clothes
            </button>
          </div>
  
          <!-- Sneakers Contribution -->
          <div
            class="flex flex-col items-center bg-white shadow-lg p-6 rounded-xl hover:scale-105 transition-transform duration-300"
          >
            <div
              class="bg-gradient-to-r from-[#0dcaf0] to-[#0cb5e5] p-4 rounded-2xl mb-4 shadow-md"
            >
              <fa-icon
                [icon]="faShoePrints"
                class="text-[#f9fafa] text-5xl"
              ></fa-icon>
            </div>
            <p class="font-bold text-lg mb-2">Sneakers</p>
            <p class="text-sm text-gray-500 mb-4">Every step counts!</p>
  
            <div
              class="relative w-full bg-gray-300 rounded-full h-4 overflow-hidden mb-4 shadow-inner"
            >
              <div
                class="absolute top-0 left-0 h-4 rounded-full bg-[#0dcaf0]"
                style="
                  width: 60%;
                  box-shadow: 0 0 10px rgba(13, 202, 240, 0.6),
                    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
                "
              ></div>
            </div>
  
            <button
              (click)="openDonateDialog()"
              class="px-6 py-2 bg-[#0dcaf0] text-white font-medium rounded-2xl hover:bg-[#0bb0d8] transition-colors duration-200"
            >
              Donate Sneakers
            </button>
          </div>
  
          <!-- Books Contribution -->
          <div
            class="flex flex-col items-center bg-white shadow-lg p-6 rounded-xl hover:scale-105 transition-transform duration-300"
          >
            <div
              class="bg-gradient-to-r from-[#0dcaf0] to-[#0cb5e5] p-4 rounded-2xl mb-4 shadow-md"
            >
              <fa-icon [icon]="faBook" class="text-[#f7f8f8] text-5xl"></fa-icon>
            </div>
            <p class="font-bold text-lg mb-2">Books</p>
            <p class="text-sm text-gray-500 mb-4">
              Share knowledge and opportunity!
            </p>
  
            <div
              class="relative w-full bg-gray-300 rounded-full h-4 overflow-hidden mb-4 shadow-inner"
            >
              <div
                class="absolute top-0 left-0 h-4 rounded-full bg-[#0dcaf0]"
                style="
                  width: 60%;
                  box-shadow: 0 0 10px rgba(13, 202, 240, 0.6),
                    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
                "
              ></div>
            </div>
  
            <button
              (click)="openDonateDialog()"
              class="px-6 py-2 bg-[#0dcaf0] text-white font-medium rounded-2xl hover:bg-[#0bb0d8] transition-colors duration-200"
            >
              Donate Books
            </button>
          </div>
  
          <!-- Money Contribution -->
          <div
            class="flex flex-col items-center bg-white shadow-lg p-6 rounded-xl hover:scale-105 transition-transform duration-300"
          >
            <div
              class="bg-gradient-to-r from-[#0dcaf0] to-[#0cb5e5] p-4 rounded-2xl w-20 mb-4 shadow-md"
            >
              <fa-icon
                [icon]="faDollarSign"
                class="text-[#f7f8f8] text-5xl"
              ></fa-icon>
            </div>
            <p class="font-bold text-lg mb-2">Money</p>
            <p class="text-sm text-gray-500 mb-4">Support with financial aid!</p>
  
            <div
              class="relative w-full bg-gray-300 rounded-full h-4 overflow-hidden mb-4 shadow-inner"
            >
              <div
                class="absolute top-0 left-0 h-4 rounded-full bg-[#0dcaf0]"
                style="
                  width: 60%;
                  box-shadow: 0 0 10px rgba(13, 202, 240, 0.6),
                    inset 0 -2px 4px rgba(0, 0, 0, 0.2);
                "
              ></div>
            </div>
  
            <button
              (click)="openFinancialAidDialog()"
              class="px-6 py-2 bg-[#0dcaf0] text-white font-medium rounded-2xl hover:bg-[#0bb0d8] transition-colors duration-200"
            >
              Donate Money
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-side bg-base-100 mt-5 flex flex-col lg:flex-row items-center lg:items-start gap-8 p-6">
      
      <!-- Left Image (Main Visual) -->
      <figure class="w-full lg:w-1/3 flex justify-center">
          <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
      </figure>
    
      <!-- Center Section (Text & Button) -->
      <div class="flex-1 flex flex-col items-center text-center lg:text-left">
          
          <h2 class="text-4xl md:text-5xl font-extrabold text-cyan-500 mt-2">CAS_INPT</h2>
          <p class="mt-4 text-gray-600 max-w-lg text-lg font-black text-wight-500 text-center drop-shadow-lg">
               <span class="text-cyan-500 font-bold">CAS</span> this word for us is more than three letters 🤍💙  
              
          </p>
    
          <!-- Donate Button -->
          <div class="mt-6">
              <button class="btn btn-info btn-wide text-white bg-cyan-500 text-lg px-6 py-3 shadow-lg hover:bg-cyan-600 transition-transform transform hover:scale-105">
                  Donate Now 💸
              </button>
          </div>
    
          <!-- Social Media Icons -->
          <div class="flex justify-center lg:justify-start flex-wrap gap-4 mt-6">
              <!-- Social Media Buttons -->
              <div class="w-14 h-14 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center hover:border-cyan-500 transition">
                  <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-110 transition-transform">
                      <img src="facebook.png" class="w-full h-full object-cover rounded-full" />
                  </button>
              </div>
    
              <div class="w-14 h-14 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center hover:border-green-500 transition">
                  <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-110 transition-transform">
                      <img src="watssap.png" class="w-full h-full object-cover rounded-full" />
                  </button>
              </div>
    
              <div class="w-14 h-14 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center hover:border-blue-500 transition">
                  <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-110 transition-transform">
                      <img src="linkedin.png" class="w-full h-full object-cover rounded-full" />
                  </button>
              </div>
    
              <div class="w-14 h-14 rounded-full overflow-hidden border-2 border-gray-300 flex items-center justify-center hover:border-pink-500 transition">
                  <button class="btn btn-square w-full h-full p-0 border-none bg-transparent hover:scale-110 transition-transform">
                      <img src="instagram.png" class="w-full h-full object-cover rounded-full" />
                  </button>
              </div>
          </div>
      </div>
    
      <!-- Right Image (Supporting Visual) -->
      <figure class="w-full lg:w-1/3 flex justify-center">
          <img src="imagetalta.png" alt="Supporting Visual" class="rounded-xl w-4/5 max-w-md " />
      </figure>
    
    </div>
  
    <div class="flex-1 flex flex-col items-center text-center lg:text-left">
          
        <h2 class="text-4xl md:text-5xl font-extrabold text-black-500 " style="margin-top: 5%;">About <span class="text-cyan-500 font-bold">CAS</span> Projects </h2>
        <p class="mt-4 text-gray-600 max-w-lg text-lg font-black text-wight-500 text-center drop-shadow-lg">
              💙 one club one purpose 🤍 
            
        </p>
  
    </div>
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mt-20">
      <li>
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time class="font-mono italic">01/06/2024</time>
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">JAS-CAS</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              <div class="text-center" >Click the "Sign Up" button in the top right corner and follow the registration process.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
              
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end md:mb-10">
          <time class="font-mono italic">01/06/2024</time>
         
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">كسوة العيد</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              
              <div class="text-center">Buy clothes for orphans and those in need.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time class="font-mono italic">01/06/2024</time>
          
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">افطار صائم</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              
              <div class="text-center">Distribution of Ramadan breakfast to the needy and poor.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end md:mb-10">
          <time class="font-mono italic">01/06/2024</time>
          
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">CARAVANE AL IHSSAN </div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              
              <div class="text-center">Humanitarian medical convoy to a poor regions.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="naimadrari.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time class="font-mono italic">01/06/2024</time>
        
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">SORTIE PARCK</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              
              <div class="text-center">Take orphaned children out to the PARCK to play.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="parckup1.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="parckup2.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="parckup3.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-end md:mb-10">
          <time class="font-mono italic">01/06/2024</time>
          
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">نقراو جميع</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
             
              <div class="text-center">Humanitarian medical convoy to poor region. Provide children with school supplies.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="jmi3up1.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="jmi3up3.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="medicale_update.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5">
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd" />
          </svg>
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time class="font-mono italic">01/06/2024</time>
          
          <div class="bg-base-100 border-base-300 collapse border">
            <input type="checkbox" class="peer" />
            <div
              class="collapse-title bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
            <div class="text-lg font-black text-wight-500 text-center drop-shadow-lg">فرحة العيد</div>
            </div>
            <div
              class="collapse-content bg-cyan-500 text-primary-content peer-checked:bg-secondary peer-checked:text-secondary-content"
            >
              
              <div class="text-center">Al Dahi's purchase of needy families.</div>
              <div class="flex w-180 mt-7">
                <figure class="w-full lg:w-1/3 flex justify-center">
                  <img src="l3idup1.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
                <img src="l3idup2.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              <figure class="w-full lg:w-1/3 flex justify-center">
              <img src="l3idup3.png" alt="Main Visual" class="rounded-xl w-4/5 max-w-md " />
              </figure>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  
  
  </div>
  